@model IEnumerable<WebApplication1.Models.WeatherInfo.TimeSeries>
@{
    /**/

    ViewBag.Title = "Weather";
}
@ViewBag.vader
<h2>Weather</h2>
@foreach (var item in Model)
{

    for (int i = 0; i < item.parameters.Count; i++)
    {

        if (item.parameters[i].name == "t")
        {
            <p>Datum: @item.validTime</p>

            <p>Typ: @item.parameters[i].name</p>

            <p>Grader: @item.parameters[i].values[0]</p>


        }

    }


}